@tailwind base;

@layer base {
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
  }

  .btn--nav {
    display: flex;
    align-items: center;
    padding: 6px;
    transition: opacity 0.5s ease;
  }
  .btn--nav .btn--text {
    position: relative;
    font-size: 1.2rem;
    padding: 0.1rem 0;
    margin-left: 1.2rem;
  }
  .btn--nav .btn--text .char {
    display: inline-block;
  }
  .btn--nav .btn--text::after {
    content: "";
    position: absolute;
    inset: 0;
    border-bottom: 1px solid #fff;
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .btn--nav[data-btn-close] {
    opacity: 0;
    transition-delay: 0s;
  }
  .btn--nav[data-btn-close] .burger span {
    transform: scaleX(0);
    background: none;
  }
  .btn--nav[data-btn-close] .burger::before {
    transform: translateY(6px) rotate(45deg);
  }
  .btn--nav[data-btn-close] .burger::after {
    transform: translateY(-6px) rotate(-45deg);
  }
  .btn--nav:not([data-btn-close]):hover .burger span {
    transform: scaleX(0);
  }
  .btn--nav:not([data-btn-close]):hover .burger::before {
    transform: translateY(3px);
  }
  .btn--nav:not([data-btn-close]):hover .burger::after {
    transform: translateY(-3px);
  }
  .btn--nav:not([data-btn-close]):hover .btn--text::after {
    transform-origin: left center;
    transform: scaleX(1);
  }
  .btn--nav[data-btn-close]:hover .burger::before {
    transform: translateY(3px) rotate(0deg);
  }
  .btn--nav[data-btn-close]:hover .burger::after {
    transform: translateY(-3px) rotate(0deg);
  }

  .burger {
    width: 26px;
    height: 15px;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: relative;
  }
  .burger span {
    display: block;
    height: 2px;
    background: #fff;
    width: 100%;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }

  .nav {
    position: fixed;
    inset: 0;
    height: 0vh;
    transition: height 0s linear 1.15s,
      background 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    z-index: 20;
  }
  .nav .btn--nav[data-btn-close] {
    padding: 2rem;
  }
  .nav .nav--inner {
    position: absolute;
    inset: 0.7rem;
    background: #1c2a69cc;
    backdrop-filter: blur(4px);
    transform: scaleX(0);
    transform-origin: center left;
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .nav.nav--opened {
    height: 100vh;
    transition-delay: 0s;
    background: rgba(0, 0, 0, 0.5);
  }
  .nav.nav--opened .btn--nav[data-btn-close] {
    opacity: 1;
    transition-delay: 0.6s;
  }
  .nav.nav--opened .nav--inner {
    transform: scaleX(1);
  }
  .nav.nav--opened .nav--item::after {
    transform: scaleX(1);
    transition-delay: calc(0.4s + var(--item-index) * 0.1s);
  }
  .nav.nav--opened .nav--item-link {
    transform: translateY(12%);
    transition-delay: calc(0.4s + var(--item-index) * 0.1s);
  }

  .nav--item {
    position: relative;
    overflow: hidden;
    padding-top: 1.25rem;
  }
  .nav--item::after {
    content: "";
    position: absolute;
    inset: 0;
    border-bottom: 1px solid #fff;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: 0s;
    pointer-events: none;
  }

  .nav--item-link {
    display: block;
    font-size: 40px;
    cursor: pointer;
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
      rotate 0.2s ease;
    transition-delay: calc(var(--item-index) * 0.05s);
  }
  .nav--item-link .word {
    transform-origin: left bottom;
    display: block;
    transition: rotate 0.2s ease;
    padding-left: 6rem;
    line-height: 0.7;
  }
  .nav--item-link .char {
    display: inline-block;
  }
  .nav--item-link:hover .word {
    rotate: -2deg;
  }

  .transition--wrapper {
    position: fixed;
    inset: 0;
    z-index: 50;
    pointer-events: none;
  }
  .transition--wrapper .transition--slide {
    position: absolute;
    inset: 0;
    transform: scaleY(0);
  }

  @keyframes scaleUpDown {
    0%,
    100% {
      scale: 1;
    }
    50% {
      scale: 1.5;
    }
  }

  .support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
  }
  .support a {
    margin: 0 10px;
    font-size: 1.8rem;
    backface-visibility: hidden;
    transition: all 150ms ease;
  }
  .support a:hover {
    transform: scale(1.1);
  }

  @media screen and (max-width: 768px) {
    .nav--item-link {
      font-size: 20px;
    }
  }
}
